#sessionExpired {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
}

.session-expired-box {
    width: 100%;
    max-width: 400px;
    min-height: 180px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

.session-expired-box h3 {
    font-size: 1.5rem;
}

.session-expired-box p {
    font-size: 1.2rem;
}

.session-expired-box a {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 15px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 8px;
    color: #fff;
    font-size: 1.4rem;
    border: 3px solid var(--accent-color);
    transition: .3s;
}

.session-expired-box a:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.welcome-back {
    width: 100%;
    max-width: 600px;
    min-height: 70px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
    left: calc(50% - 300px);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 15px 8px rgba(0, 0, 0, .3);
    animation: welcomeSlide 5s forwards;
}

@keyframes welcomeSlide {
    0% {
        top: -60px;
    }

    25% {
        top: 15px;
    }

    75% {
        top: 15px;
    }

    100% {
        top: -75px;
    }
}

th {
    background-color: var(--accent-color);
    color: #fff;
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 5px 15px;
    text-align: left;
}

td {
    color: #000;
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 15px;
}

tr {
    background-color: lightgrey;
}

tr:nth-of-type(2n) {
    background-color: darkgrey;
}

table {
    width: 100%;
    max-width: 2000px;
    background-color: grey;
    border-collapse: collapse;
}

.schedule-heading {
    width: 100%;
    padding: 10px 10px 15px 0;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.help-info-btn {
    width: 45px;
    height: 45px;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 15px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    border: 3px solid var(--accent-color);
    transition: .3s;
    cursor: pointer;
}

.help-info-btn:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.help-info-btn:hover ~ .help-info-container {
    display: flex;
}

.help-info-container {
    display: none;
    width: 100%;
    max-width: 450px;
    min-height: 100px;
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    border-radius: 8px;
    transition: .3s;
    z-index: 2;
}

.help-info-container ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.help-info-container p {
    font-size: 1.3rem;
    padding-left: 10px;
}

@media screen and (max-width: 1100px) {

    td {
        display: block;
    }

    tr {
        border: 1px solid grey;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
    }

    th {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .welcome-back h2 {
        width: 100%;
        text-align: center;
    }

    .welcome-back {
        left: 0;
    }
}