.member-panel {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    background-color: var(--primary-color);
    position: relative;
    padding: 25px;
    padding-left: 325px;
    padding-right: 25px;
    padding-top: 85px;
    transition: .3s;
    margin: 0 auto;
}

.schedule-container {
    margin-top: 25px;
    width: 100%;
    max-width: 2000px;
    background-color: #fff;
    position: relative;
    overflow-x: auto;
    padding: 7.5px;
    border-radius: 12px;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
}

.ushersdoorguide {
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    text-align: center;
    padding: 7.5px 15px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 8px;
    color: #fff;
    font-size: 1.4rem;
    border: 3px solid var(--accent-color);
    transition: .3s;
}

.ushersdoorguide:hover {
    background-color: transparent;
    color: var(--accent-color);
}

@media screen and (max-width: 850px) {

    .ushersdoorguide {
        margin-top: 65px;
    }
}

@media screen and (max-width: 750px) {

    .help-info-container {
        right: 0;
        top: 85px;
    }
}

@media screen and (max-width: 450px) {
    .ushersdoorguide {
        margin-top: 65px;
    }
}