@font-face {
  font-family: 'modern-font';
  src: url('../res/fonts/Outfit-Thin.ttf');
}

.header {
  background: #171c24;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 100;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header nav {
  position: relative;
  display: flex;
  height: 70px;
  margin-left: 15px;
  align-items: center;
  justify-content: space-between;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 25px;
}

.links {
  margin-left: 80px;
  display: flex;
}

.side-nav {
  width: 300px;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #171c24;
  box-shadow: 10px 0 20px -2px #000;
  position: relative;
}

.logo a {
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'modern-font', sans-serif;
}

.logo a img {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.logout {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.4rem;
  color: #fff;
}

.report {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.4rem;
  color: #fff;
}

.settings {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.4rem;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#profilePicture {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 5px solid var(--accent-color);
  margin-top: 45px;
}

#name {
  color: #fff;
  margin-top: 25px;
  font-size: 2.3rem;
}

#username {
  color: #fff;
  margin-top: 15px;
  font-size: 1.4rem;
}

.menu-icon {
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
  display: none;
}

.header input[type="checkbox"] {
  display: none;
}

.nav-btns {
  padding-top: 35px;
  width: 100%;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.nav-btns button {
  width: calc(100% - 15px);
  height: 70px;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  font-size: 1.4rem;
  text-align: left;
  padding-left: 15px;
  border: none;
  margin-bottom: 3px;
  color: #fff;
  cursor: pointer;
  transition: .1s;
}

.tab-active {
  background-color: #3c7cb960;
}

.tab-inactive {
  background-color: transparent;
}

.nav-btns button:hover {
  background-color: #3c7cb960;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .header nav {
    max-width: 100%;
    padding: 0 20px;
  }

  .links {
    margin-left: 30px;
  }
}

@media screen and (max-width: 450px) {
  .header nav {
    padding: 0 10px;
  }

  .logo a {
    font-size: 20px;
  }
}

@media screen and (min-width: 10px) {
  .menu-icon {
    display: block;
  }

  #show-menu:checked~.menu-icon i::before {
    content: "\f00d";
  }

  #show-menu~.admin-panel {
    padding-left: 15px;
  }

  .links {
    display: block;
    position: fixed;
    background: transparent;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 300px;
    overflow-y: auto;
    transition: all 0.3s ease;
  }

  #show-menu:checked~.header-content .links {
    left: 0%;
  }
}