.admin-panel {
    width: 100%;
    min-height: 100vh;
    max-width: 1920px;
    background-color: var(--primary-color);
    position: relative;
    padding: 25px;
    padding-left: 325px;
    padding-right: 25px;
    padding-top: 85px;
    transition: .3s;
    margin: 0 auto;
}

.tab-container {
    margin-top: 25px;
    width: 100%;
    max-width: 2000px;
    background-color: transparent;
    position: relative;
    display: none;
}

.tab-container-active {
    display: block;
}

.add-post-row {
    width: 100%;
    max-width: 2000px;
    min-height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.add-post-container {
    margin-right: 15px;
    width: 100%;
    max-width: 400px;
}

.add-post,
.change-schedules-box,
.users-enrolled-container-max,
.create-account-container,
.console {
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
}

.add-post {
    width: 100%;
    max-width: 400px;
    min-height: 550px;
    max-height: 550px;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.add-post form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1.1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.inputBox textarea {
    min-height: 100px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1.1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}

.inputBox input:focus~span,
.inputBox input:valid~span,
.inputBox textarea:focus~span,
.inputBox textarea:valid~span {
    color: var(--accent-color);
    font-size: .8rem;
    transform: translateY(-20px);
}

#previewPostImage {
    width: 100%;
    border-radius: 8px;
}

.sermon-input-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sermon-input-row input[type="text"] {
    width: 100%;
}

.sermon-input-row span {
    margin-right: 7.5px;
}

.add-post input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    margin-top: 7.5px;
    outline: none;
    border: none;
    border: 3px solid var(--accent-color);
    background-color: var(--accent-color);
    transition: .3s;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.add-post a {
    width: 100%;
}

.add-post input[type="submit"]:hover {
    background-color: transparent;
    color: var(--accent-color);
}

#postLangChanger *,
#sermonLangChanger * {
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    outline: none;
    font-family: 'modern-font', sans-serif;
}

#postLangChanger,
#sermonLangChanger {
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 7.5px;
    margin-left: 0;
    font-family: 'modern-font', sans-serif;
}

@media screen and (max-width: 1300px) {
    .add-post-row {
        flex-direction: column;
        width: 50%;
        max-width: 50%;
    }

    .add-post-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .add-post-container {
        margin-right: 0px;
        max-width: 2100px;
    }

    .add-post-container h2 {
        width: 100%;
        text-align: left;
    }

    .add-post h2 {
        width: 100%;
        text-align: center;
    }

    .add-post {
        max-width: 2100px;
    }
}

@media screen and (max-width: 1000px) {
    .add-post-row {
        width: 100%;
        max-width: 100%;
    }
}