@font-face {
    font-family: 'modern-font';
    src: url('Outfit-Thin.ttf');
}

.side-course-overview-container {
    width: 100vw;
    max-width: 400px;
    height: calc(100vh - 70px);
    z-index: 45;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: 70px;
    right: 0;
    transition: 0.3s;
}

.side-course-overview {
    width: calc(100vw - 35px);
    max-width: 400px;
    height: calc(100vh - 70px);
    background: #171c24;
    z-index: 49;
    overflow-y: auto;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.toggle-menu-icon {
    width: 35px;
    height: 50px;
    position: absolute;
    top: 45px;
    left: -35px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 70px;
    background-color: #171c24;
    outline-color: grey;
    border: none;
}

.side_course_overview_content {
    width: 100%;
    height: calc(100vh - 70px);
    padding: 45px;
    color: #fff;
}

.side_course_overview_content h2 {
    color: #3c7cb9;
    font-size: 1.8rem;
    font-weight: lighter;
}

.side_course_overview_content p {
    padding-top: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: lighter;
}

.side_course_overview_content ul {
    padding: 15px 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: lighter;
}

.side_course_overview_content li {
    padding-bottom: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: lighter;
    list-style: disc;
}

.side-course-overview input[type="checkbox"] {
    display: none;
}

.toggle-menu-icon {
    display: block;
}

#show-side-overview:checked .toggle-menu-icon i::before {
    content: "\f00d";
}

#show-side-overview:checked .side-course-overview {
    right: 0;
}