.login-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/admin-login-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backup {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    top: 25px;
    left: 25px;
}

.login-container-max {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    margin: 15px;
    width: 100%;
    max-width: 500px;
    margin: 0 15px;
}

.tabs {
    width: 100%;
    height: 60px;
    display: flex;
}

.tabs button:nth-child(1) {
    border-top-left-radius: 8px;
}

.tabs button:nth-child(2) {
    border-top-right-radius: 8px;
}

.tabs button {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    color: #b3b3b3;
    font-size: 1.4rem;
    background-color: transparent;
}

.login-panel {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px;
}

.login-panel h2 {
    color: #fff;
    font-size: 2.8rem;
    margin-bottom: 25px;
    text-align: center;
}

.login-panel div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    width: 100%;
    position: relative;
}

.login-panel input {
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .3);
    outline: none;
    caret-color: #fff;
    color: #fff;
    border: none;
    font-size: 1.2rem;
}

.view-password-btn {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4px;
    right: 0;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    z-index: 5;
}

.eye-slash::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 10px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
    border-radius: 8px;
    animation: eye-slash ease .3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes eye-slash {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.login-panel div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.login-panel h4 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 25px;
}

.login-panel h4 #rememberMe1, .login-panel h4 #rememberMe2 {
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 15px;
}

#loginBtn1, #loginBtn2 {
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #fff;
    outline: none;
    color: #000;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 4px;
    border: 3px solid #fff;
    transition: .3s;
}

#loginBtn1:hover, #loginBtn2:hover {
    background-color: transparent;
    color: #fff;
}

#errorLogin1, #errorLogin2 {
    background-color: rgba(255, 0, 0, .4);
    border-radius: 12px;
    color: #fff;
    margin-bottom: 15px;
}