.logo span {
    font-weight: lighter;
    border-radius: 8px;
    padding: 5px;
    font-size: 1.1rem;
    margin-left: 8px;
    background-color: #3c7cb9;
}

.member-panel {
    width: 100%;
    min-height: 100vh;
    background-color: #333;
    position: relative;
    padding: 25px;
    padding-left: 325px;
    padding-right: 25px;
    padding-top: 85px;
    transition: .3s;
}

#sessionExpired {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
}

.session-expired-box {
    width: 100%;
    max-width: 400px;
    min-height: 180px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

.session-expired-box h3 {
    font-size: 1.5rem;
}

.session-expired-box p {
    font-size: 1.2rem;
}

.session-expired-box a {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 15px;
    display: block;
    background-color: #3c7cb9;
    border-radius: 8px;
    color: #fff;
    font-size: 1.4rem;
    border: 3px solid #3c7cb9;
    transition: .3s;
}

.session-expired-box a:hover {
    background-color: transparent;
    color: #3c7cb9;
}

.welcome-back {
    width: 100%;
    max-width: 600px;
    min-height: 70px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
    left: calc(50% - 300px);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 15px 8px rgba(0, 0, 0, .3);
    animation: welcomeSlide 5s forwards;
}

@keyframes welcomeSlide {
    0% {
        top: -60px;
    }

    25% {
        top: 15px;
    }

    75% {
        top: 15px;
    }

    100% {
        top: -75px;
    }
}

#deleteDoorConfirmation,
#deleteCleaningConfirmation {
    width: 100%;
    max-width: 600px;
    min-height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    left: calc(50% - 300px);
    padding: 15px;
    border-radius: 8px;
    top: -200px
}

#deleteDoorConfirm,
#deleteCleaningConfirm {
    width: 100%;
    height: 45px;
    font-size: 1.3rem;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    background-color: #D11A2A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    margin: 0 7.5px;
}

#cancelDoorScheduleDelete,
#cancelCleaningScheduleDelete {
    width: 100%;
    background-color: #b5b5b5;
    height: 45px;
    font-size: 1.3rem;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.animateConfirmation {
    animation: confirmPop 2s forwards;
}

.animateUnConfirmation {
    animation: UnconfirmPop 2s forwards;
}

.confirmation-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes confirmPop {
    0% {
        top: -200px
    }

    100% {
        top: 15px
    }
}

@keyframes UnconfirmPop {
    0% {
        top: 15px
    }

    100% {
        top: -200px
    }
}

th {
    background-color: #3c7cb9;
    color: #fff;
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
}

td {
    color: #000;
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 15px;
}

tr {
    background-color: lightgrey;
}

tr:nth-of-type(2n) {
    background-color: darkgrey;
}

table {
    width: 100%;
    max-width: 2000px;
    background-color: grey;
    border-collapse: collapse;
}

.schedule-container {
    margin-top: 25px;
    width: 100%;
    max-width: 2000px;
    background-color: #fff;
    position: relative;
    overflow-x: auto;
    padding: 7.5px;
    border-radius: 12px;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
}

.schedule-heading {
    padding: 10px 10px 15px 0;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.help-info-btn {
    width: 45px;
    height: 45px;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 15px;
    display: block;
    background-color: #3c7cb9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    border: 3px solid #3c7cb9;
    transition: .3s;
    cursor: pointer;
}

.help-info-btn:hover {
    background-color: transparent;
    color: #3c7cb9;
}

.help-info-btn:hover ~ .help-info-container {
    display: flex;
}

.help-info-container {
    display: none;
    width: 100%;
    max-width: 450px;
    min-height: 100px;
    position: absolute;
    top: 60px;
    right: 15px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.43);
    border-radius: 8px;
    transition: .3s;
}

.help-info-container ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.help-info-container span {
    width: 20px;
    height: 20px;
    display: block;
}

.help-info-container p {
    font-size: 1.3rem;
    padding-left: 10px;
}

.ushersdoorguide {
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    text-align: center;
    padding: 7.5px 15px;
    display: block;
    background-color: #3c7cb9;
    border-radius: 8px;
    color: #fff;
    font-size: 1.4rem;
    border: 3px solid #3c7cb9;
    transition: .3s;
}

.ushersdoorguide:hover {
    background-color: transparent;
    color: #3c7cb9;
}

.delete-all {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.delete-all button {
    width: 45px;
    height: 45px;
    font-size: 1.3rem;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    background-color: #D11A2A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

@media screen and (max-width: 1100px) {
    td {
        display: block;
    }

    tr {
        border: 1px solid grey;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
    }

    th {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .help-info-container {
        right: 0;
        top: 85px;
    }
}

@media screen and (max-width: 500px) {
    .welcome-back h2 {
        width: 100%;
        text-align: center;
    }

    .welcome-back {
        left: 0;
    }

    .welcome-back,
    #deleteDoorConfirmation,
    #deleteCleaningConfirmation {
        left: 0;
    }
}